# Config and Htaccess Files
/src/.htaccess
/src/config.php
/src/admin/config.php

# Image Cache Files
/src/image/cache/*
!/src/image/cache/index.html

# System Cache Files
/src/system/storage

# CSS Files
/src/catalog/view/stylesheet/stylesheet.css

# IDE Project files
/src/.idea/*
/.idea/*
/.DS_Store
